html, body, h1, h2, h3, h4, h5, h6, .btn {
    font-family: "Roboto", sans-serif;
}

html, footer { 
    background-color: #1a1a1a;
}

footer { 
    color: white;
    padding: 2%;
}

.coluna { 
    padding-top: 3%;
    padding-bottom: 1%;
}

.lateral { 
    background-color: lightsalmon;
}

.principal { 
    background-color: #f1f1f1;
}

.centro { 
    text-align: center;
}

.pessoa { 
    width: 40%;
    border-radius: 50%;
}

.nome { 
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    display: block;
}

.btn { 
    margin-top: 30px;
}

.bolinha { 
    padding: 1px;
    font-size: 9px;
}

.habilidade { 
    padding: 5px 0px 0px 0px;
    font-size: 13px;
    display: block;
}

.nivel { 
    text-align: left;
}

.titulo { 
    text-align: right;
}

.titulo-habilidade { 
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
}

h4 { 
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 600;
    background-color: #1a1a1a;
    color: white;
    padding: 5px 0px 5px 10px;
    margin-bottom: 10px;
}

.item-curriculo { 
    margin-bottom: 25px;
    margin-left: 2px;
}

.item-titulo { 
    margin-top: 12px;
    font-size: 18px;
    font-weight: bolder;
}

.item-empresa { 
    font-size: 16px;
}

.item-tempo { 
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.item-corpo { 
    font-size: 14px;
    margin-top: 2px;
}

a.email:link, a.email:visited, a.email:active, a.email:hover { 
    color: black;
    text-decoration: none;
    font-size: 12px;
}

a.social:link, a.social:visited, a.social:active, a.social:hover { 
    padding: 10px;
    color: white;
    text-decoration: none;
}
